.app-container {
  background-color: aliceblue;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.main-app-container {
  display: flex;
  min-height: 90vh;
  max-height: 90vh;
  background-color: #fff;
  background-image: url('../public/alda_background.png'); /* Thay đổi hình nền */
  background-size: cover; /* Đảm bảo hình nền được hiển thị đầy đủ */
  background-repeat: no-repeat;
  /* background-position: right 2em; */
}

.chat-container {
  min-height: 85vh;
  max-height: 100%;
  display: flex;
  justify-content: end;
}

.video-container {
  min-height: 85vh;
  max-height: 100%;
}
